<h1>Photos</h1>
<ul>
    <li>
        <a href = "https://photogram-golden-seven-katekelly.c9users.io/photos/1">
            /photos/1
        </a>
    </li>
    <li>
        <a href = "https://photogram-golden-seven-katekelly.c9users.io/photos/2">
            /photos/2
        </a>
    </li>
    <li>
        <a href = "https://photogram-golden-seven-katekelly.c9users.io/photos/3">
            /photos/3
        </a>
    </li>
    <li>
        <a href = "https://photogram-golden-seven-katekelly.c9users.io/photos/4">
            /photos/4
        </a>
    </li>
</ul>